
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.published %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
